In [2]:
import pandas as pd

In [12]:
test_df = pd.read_csv('data/ais_test.csv')
train_df = pd.read_csv('data/ais_train.csv', sep='|')

test_df.describe(include="object")

                        vesselId                 time
count                      51739                51739
unique                       215                30990
top     61e9f466b937134a3c4c0273  2024-05-10 02:58:59
freq                         360                   16

In [16]:
unique_vessel_ids_in_train = train_df["vesselId"].unique()
unique_vessel_ids_in_test = test_df["vesselId"].unique()

all_vesselIds_in_train = True

for vesselId in unique_vessel_ids_in_test:
    if vesselId not in unique_vessel_ids_in_train:
        all_vesselIds_in_train = False
        print(f"{vesselId} not in train")

if all_vesselIds_in_train:
    print("All vessel IDs in test are also in train")
else:
    print("At least one vessel ID in test is not also in train")

All vessel IDs in test are also in train

In [9]:
result = pd.read_csv("results.csv")

print(result.isna().sum())

print(result.duplicated("ID").sum())

result.count()

ID                     0
longitude_predicted    0
latitude_predicted     0
dtype: int64
0

ID                     51739
longitude_predicted    51739
latitude_predicted     51739
dtype: int64