In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

train_df = pd.read_csv('data/original_data/ais_train.csv', sep='|')
test_df = pd.read_csv('data/original_data/ais_test.csv')

In [2]:
label_encoder = LabelEncoder()

label_encoder.fit(train_df['vesselId'])

train_df['vesselId'] = label_encoder.transform(train_df['vesselId'])
test_df['vesselId'] = label_encoder.transform(test_df['vesselId'])

train_df.head()

,time,cog,sog,rot,heading,navstat,etaRaw,latitude,longitude,vesselId,portId
0,2024-01-01 00:00:25,284.0,0.7,0,88,0,01-09 23:00,-34.74370,-57.85130,50,61d371c43aeaecc07011a37f
1,2024-01-01 00:00:36,109.6,0.0,-6,347,1,12-29 20:00,8.89440,-79.47939,189,634c4de270937fc01c3a7689
2,2024-01-01 00:01:45,111.0,11.0,0,112,0,01-02 09:00,39.19065,-76.47567,432,61d3847bb7b7526e1adf3d19
3,2024-01-01 00:03:11,96.4,0.0,0,142,1,12-31 20:00,-34.41189,151.02067,110,61d36f770a1807568ff9a126
4,2024-01-01 00:03:51,214.0,19.7,0,215,0,01-25 12:00,35.88379,-5.91636,356,634c4de270937fc01c3a74f3

In [3]:
test_df.head()

   ID  vesselId                 time  scaling_factor
0   0        84  2024-05-08 00:03:16             0.3
1   1       623  2024-05-08 00:06:17             0.3
2   2       596  2024-05-08 00:10:02             0.3
3   3       542  2024-05-08 00:10:34             0.3
4   4         1  2024-05-08 00:12:27             0.3

In [4]:
train_df.to_csv('data/processed_data/train_encoded_vessel_ID.csv', index=False)
test_df.to_csv('data/processed_data/test_encoded_vessel_ID.csv', index=False)